{% extends 'base.html' %}
{% load humanize %}
{% load custom_filters %}
{% block content %}

  <section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <span class="d-block mb-3" style="font-family: 'Montserrat', sans-serif; font-size: 20px; margin-left: 20px;">Ваши заказы</span>

          {% for order in order_list %}
            <div class="accordion accordion-flush mb-4 mt-3" id="accordionFlushExample{{ order.id }}">
              <div class="accordion-item" style="border-radius: 15px;">
                <h2 class="accordion-header" id="flush-headingOne{{ order.id }}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseOne{{ order.id }}" aria-expanded="false"
                          aria-controls="flush-collapseOne{{ order.id }}">
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start w-100">
                      <div>
                        <span style="font-family: 'Montserrat', sans-serif; font-size: 20px;">Заказ №{{ order.id }}  на {{ order.price| format_number }} ₽</span>
                        <div style="font-family: 'Montserrat', sans-serif; font-size: 15px; margin-top: 5px;">
                          {{ order.created_at| naturaltime }}
                        </div>
                      </div>
                      <div class="pe-md-4" style="margin-top: 10px">
                        <span style="font-family: 'Montserrat', sans-serif; font-size: 20px;">{{ order.get_status_display }}</span>
                      </div>
                    </div>
                  </button>
                </h2>

                <div id="flush-collapseOne{{ order.id }}" class="accordion-collapse collapse"
                     aria-labelledby="flush-headingOne{{ order.id }}"
                     data-bs-parent="#accordionFlushExample{{ order.id }}">
                  <div class="accordion-body">
                    {% for product in order.products.products %}
                      <div class="row mb-3 align-items-center">
                        <div class="col-3 col-md-2 d-flex align-items-center mb-2 mb-md-0">
                          <a href="{% url 'catalog:detail' product.slug %}">
                          <img src="{{ product.product_image }}" alt="" class="img-fluid" style="max-width: 100px;">
                            </a>
                        </div>
                        <div class="col-9 col-md-6 mb-2 mb-md-0">
                          <div class="d-flex align-items-center">
                            <a href="{% url 'catalog:detail' product.slug %}">
                            <span>{{ product.product }}</span>
                            </a>
                          </div>
                        </div>
                        <div class="col-12 col-md-2 mb-2 mb-md-0">
                          <span>Количество: {{ product.quantity }} шт.</span>
                        </div>
                        <div class="col-12 col-md-2 text-md-end">
                          <span style="font-weight: bold;">{{ product.price| format_number }} ₽</span>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}

        </div>
      </div>



    <!-- Pagination -->
    <div class="d-flex justify-content-center">
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">&laquo;</a>
            </li>
          {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
          <li class="page-item">
            <a class="page-link active" style="color: #0e8ce4">{{ i }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}" style="color: #000000;">{{ i }}</a>
          </li>
        {% endif %} {% endfor %} {% if page_obj.has_next %}
          <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
          </li>
        {% endif %}
        </ul>
      {% endif %}
    </div>
    </div>
  </section>


{% endblock %}
