{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block style %}

  {% endblock %}
  <link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <script type="text/javascript"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Title</title>
</head>
<body>

<div class="super_container">

  <!-- Header -->

  <header class="header">

    <!-- Top Bar -->

    <div class="top_bar">
      <div class="container">
        <div class="row">
          <div class="col d-flex flex-row">
            <div class="top_bar_contact_item">
              <div class="top_bar_icon"><img
                      src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt=""></div>
              +12 3456 789 000
            </div>
            <div class="top_bar_contact_item">
              <div class="top_bar_icon"><img
                      src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918597/mail.png" alt=""></div>
              <a href="#">contact@worstshop.com</a></div>
            <div class="top_bar_content ml-auto">
              <div class="top_bar_user">
                <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg"
                                            alt=""></div>
                <div><a href="#">Войти</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Header Main -->

    <div class="header_main">
      <div class="container">
        <div class="row">

          <!-- Logo -->
          <div class="col-lg-2 col-sm-3 col-3 order-1">
            <div class="logo_container">
              <div class="logo"><a href="{% url 'shop:category_list' %}" style="text-decoration: none;">WorstShop</a></div>
            </div>
          </div>

          <!-- Search -->
          <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
            <div class="header_search">
              <div class="header_search_content">
                <div class="header_search_form_container">
                  <form action="#" class="header_search_form clearfix">
                    <input type="search" class="header_search_input w-full"
                           placeholder="Поиск по товарам...">
                    <button type="submit" class="header_search_button trans_300" value="Submit"><img
                            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt="">
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Wishlist -->
          <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
              <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                <div class="wishlist_icon"><img
                        src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918681/heart.png" alt=""></div>
                <div class="wishlist_content">
                  <div class="wishlist_text"><a href="#">Избранное</a></div>
                  <div class="wishlist_count">10</div>
                </div>
              </div>

              <!-- Cart -->
              <div class="cart">
                <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                  <div class="cart_icon">
                    <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png" alt="">
                    <div class="cart_count"><span>3</span></div>
                  </div>
                  <div class="cart_content">
                    <div class="cart_text"><a href="#">Корзина</a></div>
                    <div class="cart_price">18500.00₽</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Navigation -->

    <nav class="main_nav">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="main_nav_content d-flex flex-row justify-content-center">

              <!-- Main Nav Menu -->

              <div class="main_nav_menu">
                <ul class="standard_dropdown main_nav_dropdown">
                  {% for category in categories %}
                    <li><a href="{{ category.get_absolute_url }}">{{ category.name }}<i class="fas fa-chevron-down"></i></a>
                      {% if category.children %}
                        <ul>
                          {% for subcategory in category.children.all %}
                            <li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}<i class="fas fa-chevron-down"></i></a>
                              {% if subcategory.children %}
                                <ul>
                                  {% for subsubcategory in subcategory.children.all %}
                                    <li><a href="{{ subsubcategory.get_absolute_url }}">{{ subsubcategory.name }}<i class="fas fa-chevron-down"></i></a>
                                      {% if subsubcategory.children %}
                                        <ul>
                                          {% for 3xsubcategory in subsubcategory.children.all %}
                                            <li><a href="{{ 3xsubcategory.get_absolute_url }}">{{ 3xsubcategory.name }}<i
                                                    class="fas fa-chevron-down"></i></a>
                                            </li>
                                          {% endfor %}
                                        </ul>
                                      {% endif %}
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>

              <!-- Menu Trigger -->

              <div class="menu_trigger_container ml-auto">
                <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                  <div class="menu_burger">
                    <div class="menu_trigger_text">menu</div>
                    <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  {% block content %}{% endblock %}
  <div style="height: 200px"></div>
</div>

</body>
</html>