{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}


  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% if messages %}
          <div class="alert-container mt-3 text-center">
            {% for message in messages %}
              {% if message.tags == "success" %}
                <div class="alert alert-success" role="alert">
                  {{ message|safe }}
                </div>
              {% elif message.tags == "warning"%}
                <div class="alert alert-warning" role="alert">
                  {{ message|safe }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}


        <h3 class="text-center mt-3" style="font-weight: 300">Вход в личный кабинет</h3>
        <div class="card my-5">

          <form class="card-body cardbody-color p-lg-5" method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            
            <div class="text-center">
              <button type="submit" class="btn btn-primary px-5 mb-5 mt-4 w-50">Войти</button>
            </div>
            <a href="{% url 'users:registration' %}">
              <div id="emailHelp" class="form-text text-center mb-5 text-dark">
                <span>Впервые здесь? </span>
                <span class="fw-bold">Создать аккаунт</span>
              </div>
            </a>
          </form>
        </div>

      </div>
    </div>
  </div>

{% endblock %}






<script>
    document.addEventListener("htmx:beforeSwap", function (e) {
        if (e.detail.target.classList.contains("login-form") && !e.detail.xhr.response) {
            location.reload()
        }
    })
</script>