{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'shop/css/products.css' %}">
{% endblock %}
{% block content %}




<div class="d-flex justify-content-center container mt-5">
  <div class="row">
    {% for product in products %}
      <div class="col">
        <div class="card p-3 bg-white d-flex flex-column" style="height: 400px; width: 300px;">
          <i class="fa fa-apple"></i>
          <div class="about-product text-center mt-2 flex-grow-1">
            <img src="{{ product.image.url }}" class="product-image">
            <div>
              <h4 class="mt-2 product-description">
                <a href="{{ product.get_absolute_url }}">{{ product.description }}</a>
              </h4>
            </div>
          </div>
          <div class="d-flex justify-content-center total font-weight-bold mt-2 align-self-end">
            <span class="price">{{ product.price }}</span>
            <span class="currency">₽</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}